version: 0.5.0.{build}

branches:
  only:
    - master
assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}"

build:
  project: src/Gemini.sln
  publish_nuget: true