<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net45" />
  <package id="Gu.Localization" version="6.1.0.0" targetFramework="net45" />
  <package id="Gu.Wpf.Localization" version="6.1.0.0" targetFramework="net45" />
  <package id="SharpDX" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Graphics" version="2.6.3" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2013" version="2.9.0.1" targetFramework="net45" />
</packages>