<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="4.4.2.9744" targetFramework="net45" />
  <package id="Caliburn.Micro" version="2.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.1" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net40" />
  <package id="HelixToolkit" version="2014.2.425" targetFramework="net45" />
  <package id="HelixToolkit.Wpf" version="2014.2.425" targetFramework="net45" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
</packages>