name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Version
      uses: aarnott/nbgv@v0.4.0
      with:
        setAllVars: true

    - name: Pack
      run: dotnet pack src --configuration Release --output build/packages

    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: Packages
        path: build/packages

    - name: Publish to NuGet
      shell: bash
      if: github.event_name == 'push'
      run: dotnet nuget push build/packages/**/*.nupkg -s nuget.org -k ${{secrets.NUGET_TOKEN}}
